@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1, h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  color: #fff;
  opacity: .8;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
}

.container {
  display: flex;
  margin-top: 1.2rem;
}

img {
  width: 100%;
  line-height: 1.2;
  margin-left: -5px;
}

.img-1 {
  align-self: flex-start;
  padding: 3px 13px 23px 0;
  font-weight: 400;
  width: 15%;
}

.company-title {
  padding-top: 15px;
}

.navbar a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 .5px;
}

.navbar a:hover {
  border-bottom: #4CBCC0 2px solid;
}

.navbar ul {
  display: flex;
}

/* Header */
.hero {
  background: url('../img/home/faye-cornish-Uq3gTiPlqRo-unsplash.jpg') no-repeat center center/cover;
  height: 110vh;
  position: relative;
  color: #fff;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}

.hero .content h1 {
  font-size: 55px;
  padding-top: 150px;
  
}

.hero .content p {
  font-size: 40px;
  max-width: 600px;
  margin: 0 0 30px;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
}

.hero * {
  z-index: 1;
}

/* Icons */
.icons {
  padding: 30px;
}

.icons h3 {
  font-weight: bold; 
  margin-bottom: 15px;
}

.icons i {
  background: #4CBCC0;
  color: #fff;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 15px;
}