@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

h1, h2 {
  font-weight: 400;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  color: #fff;
  opacity: .7;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
}

.container {
  display: flex;
  margin-top: 1.2rem;
  margin-left: -10px;
}

img {
  width: 100%;
}

.img-1 {
  align-self: flex-start;
  font-weight: 400;
  width: 3.4rem;
  padding: 0 14px 15px 0;
}

.company-title {
  padding-top: 2px;
}

.navbar a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 .5px;
}

.navbar a:hover {
  border-bottom: #4CBCC0 2px solid;
}

.navbar ul {
  display: flex;
}

/* Header */
.hero {
  background: url('../img/home/faye-cornish-Uq3gTiPlqRo-unsplash.jpg') no-repeat center center/cover;
  height: 110vh;
  position: relative;
  color: #fff;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}

.hero .content h1 {
  font-size: 55px;
  padding-top: 150px; 
}

.hero .content p {
  font-size: 40px;
  max-width: 600px;
  margin: 0 0 30px;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
}

.hero * {
  z-index: 1;
}

/* Icons */
.icons {
  padding: 30px;
}

.icons h3 {
  font-weight: bold; 
  margin-bottom: 15px;
}

.icons i {
  background: #4CBCC0;
  color: #fff;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 15px;
}

.cases img:hover {
  opacity: 0.7;
}

.cases .column {
  object-fit: cover;
  max-height: 100%;
  width: auto;
}

.column .column-2 {
  padding-bottom: 10px;
}
.states img {
  border-radius: 50%;
}

/* Callback Form */

.callback-form {
  width: 100%;
  padding: 20px 0;
}

.callback-form label {
  display: block;
  margin-bottom: 20px;
}

.callback-form .form-control {
  margin-bottom: 10px;
}

.callback-form input {
  width: 100%;
  padding: 4px;
  height: 40px;
  border: #f5f5f5 1px solid;
}

.callback-form .btn {
  padding: 12px 0;
  margin-top: 20px;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 120px;
}

.footer a:hover {
  color:#4CBCC0
}

.footer .social > * {
  margin-right: 30px;
}

/* Mobile */
@media(max-width:500px) {
  .navbar {
    flex-direction: column;
    height: 180px;
    padding: 0px;
    text-align: center;
  }

  .navbar .img-1 {
    padding: 0px;
  }

  .company-title {
    font-size: ;
  }
  
  .container {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    text-align:center;
    position:relative;
  }

  .navbar a {
    padding: 10px 10px;
  }
  
  .hero .content h1 {
    font-size: 39px;
  }

  .hero .content p {
    font-size: 25px;
    margin-top: -30px;
  }

  .hero {
    height: 100%;
    padding: 20px 0;
  }

  .content {
    margin: 110px 5px 5px;
  }

  .flex-items {
    flex-direction: column;
  }

  .flex-columns .column, .flex-grid .column {
    flex: 100%;
    max-width: 100%;
  }

  .states img {
    width: 70%;
  }
}

/* Ipad */
@media (min-width: 501px) and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: 190px;
    padding: 4px 40px 10px;
    text-align: center;
  }

  .navbar ul {
    font: 45px;
  }
  .company-title {
    padding: 18px 5px 0 10px;
    font-size: 50px;
  }
  
  .navbar .img-1 {
    padding: 5px 0px;
    width: 5rem;
  }

  .navbar a {
    padding: 20px 30px;
    margin: 0 3px 5px;
    font-size: 24px;
  }

  .flex-items {
    flex-direction: column;
  }

  .flex-columns .column, .flex-grid .column {
    flex: 100%;
    max-width: 100%;
  }

  .states img {
    width: 70%;
  }
}
