/* Text Colors */
.text-primary {
  color: #4CBCC0;
}

.text-secondary {
  color: #0284d0
}

/* Button */
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: #2e6264;
  background-color: #fff;
  border-radius: 5px;
  opacity: .9;
}

.btn:hover {
  opacity: .9;
  color: #2e6264;
  background: #f4f4f4;
}

.btn-primary, .bg-primary {
  background: #4CBCC0;
  color: #fff;
}

.btn-secondary, .bg-secondary {
  background: #CF8D3B;
  color: #fff;
}

.btn-dark, .bg-dark {
  background: #333;
  color: #fff;
}

.btn-light .bg-light {
  background: #fff;
  color: #4CBCC0;
}

/* Flex Items */
.flex-items {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100%;
}

.flex-items > div {
  padding: 20px;
}

/* Flex columns */
.flex-columns .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
  height: 100%;
}

.flex-columns img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

